<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.web.pagereloader.enableLiveReloadCommand"
            name="Enable Live Reload">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.wst.server.ui.ServersView">
         <command
               commandId="org.jboss.tools.web.pagereloader.enableLiveReloadCommand"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="org.eclipse.wst.server.core.IServer">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
   </extension>
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.web.pagereloader.internal.command.EnableLiveReloadCommandHandler"
            commandId="org.jboss.tools.web.pagereloader.enableLiveReloadCommand">
      </handler>
   </extension>

</plugin>
